<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghostlabs.slowdown">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".StartDrinking"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AlarmSet" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".UserDetails"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_application_id"/>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrinksActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="com.custom.intent" />

            </intent-filter>
        </receiver>
    </application>

</manifest>